[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/lamlybidash
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lamlybidash
	label-Verified = -1..+1 group user/lamlybidash
	push = group user/lamlybidash
	read = group user/lamlybidash
	rebase = group user/lamlybidash
	removeReviewer = group user/lamlybidash
	submit = group user/lamlybidash
[access "refs/heads/*"]
	create = group user/lamlybidash
	push = +force group user/lamlybidash
	pushMerge = group user/lamlybidash
	read = group user/lamlybidash
[access "refs/tags/*"]
	push = group user/lamlybidash
	push = +force group user/lamlybidash
